<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="40aed11f-8dac-4149-8e85-6e625760ba61" name="TEST_VALID_INPUTFILE_TO_AXWAYFTS" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="40aed11f-8dac-4149-8e85-6e625760ba61fileName">TEST_VALID_INPUTFILE_TO_AXWAYFTS</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
